.title{
    background: #313133;
    width: 1900px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.screen{
    display: flex;
    align-items: center;
}
.top-screen{
    width: 27px;
    height: 27px;
    padding: 22px 27px;
    background: #000000 0,01%;
}
.navbar{
    display: flex;
    justify-content: center;

}
.navbar-title{
    font-size: 15px;
    color: white;
    text-transform: uppercase;
    padding: 0 36px;
    list-style-type: none;
}
.navbar-title_Architect{
    font-size: 22px;
    color: white;
}
.top-screen_tab{
    width: 17px;
    height: 16px;
    padding: 27px;
    background: #000000;
    text-align: end;
}
.header-background{
    background:url("images/header-bg.jpeg")     ;
    width:1900px;
    height: 369px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 49px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.text{
    text-align: center;
}
.text_div{
    color: #ffffff;
    font-size: 27px;
    text-transform: uppercase;
    margin-bottom: 44px;
}
.button_1{
    padding: 17px 19px;
    color: #ffffff;
    background:#89CA62;
    font-size: 18px;
    text-align: center;
    border: none;
    border-radius: 5px;
    margin-right: 20px;
}
.button_2{
    padding: 17px 30px;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    background: #14B9D5;
    border: none;
    border-radius: 5px;
}
.conteiner{
    width: 1200px;
    margin: 0 365px;
}
.main-text{
    font-size: 27px;
    color: #18B4CF;
    text-align: center;
    margin-bottom: 52px;
    text-transform: uppercase;
}
.posters{
    height: 913px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.post_one, .post_two, .post_three, .post_four, .post_five, .post_six {
    list-style-type: none;
}



.post-text{
    font-size: 18px;
    text-align: center;
    color: #353A3D;
    padding: 21px 15px;
    background: #ffffff;
}
.bottom-text{
    font-size: 18px;
    text-align: center;
    color: #353A3D;
    padding: 20px 40px 22px;
    text-decoration: none;
}
.post{
    margin: 15px;
}
.one{
    height: 320px;
}
.two{
    height: 441px;
}
.three{
    height: 355px;
}
.four{
    height: 321px;
}
.five{
    height: 309px;
}
.six{
    height: 441px;
    margin-bottom: 72px;
}
.text_1{
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    font-size: 32px;
    line-height: 44px;
    padding-top: 108px;
}
.header_bg {
    width: 1900px;
    height: 588px;
    background-image: url(images/parallax-bg.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.line{
    background: #18B4CF;
    width: 60px;
    height: 3px;
    margin: 87px auto;
}
.brands {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2vw;
    margin-top: 106px;
}
.pictures {
    text-align: center;
}
.houses {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    margin-top: 52px;
    margin-bottom: 48px;
}
.text_2 {
    font-size: 27px;
    text-align: center  ;
    text-transform: uppercase;
    color: #18B4CF;
    margin-top: 49px;
}
.heading{
    color: #18B4CF;
    font-size: 27px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 51px;
}
.home {
    display: grid;
    grid-template-areas:
    'item1 item1 item1 item2'
    'item3 item3 item4 item4'
    'item5 item5 item6 item6'
    'item7 item8 item8 item8';
    grid-gap: 45px 35px;
    grid-template-columns: fit-content(100%);
    justify-content: center;
}
.home_picture_1 {
    grid-area: item1;
    width: 856px;
    height: 259px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #F9F7F7;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}
.home_picture_2 {
    grid-area: item2;
    width: 277px;
    height: 258px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    background: #F9F7F7;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}
.home_picture_3 {
    grid-area: item3;
    display: grid;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
    background: #F9F7F7;
    width: 554px;
    height: 418px;
    grid-template-rows: 1fr 1fr;
    font-size: 14px;
    line-height: 21px;
}
.home_picture_4 {
    grid-area: item4;
    display: grid;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
    background: #F9F7F7;
    width: 554px;
    height: 418px;
    grid-template-rows: 1fr 1fr;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}
.home_picture_5 {
    grid-area: item5;
    display: grid;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
    background: #F9F7F7;
    width: 554px;
    height: 418px;
    grid-template-rows: 1fr 1fr;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}
.home_picture_6 {
    grid-area: item6;
    display: grid;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
    background: #F9F7F7;
    width: 554px;
    height: 418px;
    grid-template-rows: 1fr 1fr;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}
.home_picture_7 {
    grid-area: item7;
    display: grid;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
    width: 277px;
    height: 258px;
    grid-template-rows: 1fr 1fr;
    background: #F9F7F7;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}
.home_picture_8 {
    grid-area: item8;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
    width: 856px;
    height: 259px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #F9F7F7;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}
.p_text_1 {
    width: 350px;
    text-align: right;
}
.p_text_2 {
    width: 527px;
    text-align: right;
}
.h3_text {
    text-align: center;
}
.h2_text {
    text-align: right;
    margin-right: 33px;
}
.kartinka {
    width: 554px;
}
.footer_conteiner{
    margin: 0 367px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_text{
    color: #FFFFFF;
    font-size: 13px;
    display: flex;
    align-items: center;
}
.footer{
    margin-top: 77px;
    background: #000000;
    height: 80px;
    width: 1900px;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
}