.font {
    font-family: 'Ubuntu', sans-serif;

}

.header_container  {
    width: 100%;
    height: 58px;
    background: rgba(0, 0, 0, 0.4);
    margin: 0;
    top: 0;
    left: 0;
}

.header_content{
    display: flex;
    justify-content: space-between;

}

.header_logo{
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 22px;
    line-height: 22px;
    font-weight: bold;
    margin-left: 79px;
    margin-top: 18px;
    cursor: pointer;
    text-decoration: none;
}
.header_logo:hover{color: #01813F}

.header_icons{
    display: flex;
    justify-content: space-between;
}
.header_icons a{margin: 18px 25px;}
.header_icons span{margin: 20px auto;}

.text{
    color: #FFFFFF;
    font-size: 14px;
    margin: auto 79px auto 27px;
}
.text span:hover{color: #01813F;}
.text span{cursor: pointer}

.icons{
    fill: #FFFFFF;
}

.icons:hover{
    fill: #01813F;
}

.header_line{
    width: 1px;
    height: 19px;
    left: 1083px;
    top: 20px;
    background: rgba(255, 255, 255, 0.9);
    mix-blend-mode: normal;
    opacity: 0.5;
}

/*MAIN==============================*/

.container {
    background-image: url("Images/Фон 1.png");
    position: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}


.main_box{
    width: 444px;
    height: 584px;
    left: 0;
    top: 0;
    background-color: #FFFFFF;
    margin: 112px auto;
    position: relative;
}

.access{
    display: flex;
    justify-content: space-between;
    padding-top: 31px;
    margin: 0 59px 15px 59px;
}

.sign{
    font-size: 20px;
    line-height: 20px;
}

.before {
    content: "";
    width: 18px;
    height: 18px;
    background: #3CB878;
    border: 1px solid #3CB878;
    position: absolute;
    margin-top: 31px;
}

.log{
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    margin-top: 4px;
    cursor: pointer;
    text-decoration: none;
}
.log:hover{
    color: #01813F;
    outline: #01813F;
    text-decoration: underline;
}

.buttons{
    display: flex;
    justify-content: space-between;
    margin: 0 60px;
}

.facebook{
    width: 160px;
    height: 48px;
    left: 0;
    top: 0;
    background: #305DB8;
    border-radius: 4px;
    color: #FFFFFF;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.facebook img{margin-left: 18px;}
.facebook div{margin-right: 22px;}
.facebook:focus{background: #022263;}
.google{
    width: 160px;
    height: 48px;
    left: 0;
    top: 0;
    background: #DF4A32;
    border-radius: 4px;
    color: #FFFFFF;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.google img{margin-left: 12px;}
.google div{margin-right: 27px}
.google:focus{background: #AB1F09;}

.line{
    border: 1px solid;
    width: 1px;
    height: 28px;
    background: #0A162F;
    mix-blend-mode: normal;
    opacity: 0.1;
}

.or_line{
    width: 152px;
    height: 0;
    left: -3px;
    top: 6px;
    border: 1px solid #F2F2F2;
}

.or{
    display: flex;
    justify-content: space-between;
    color: #848484;
    align-items: center;
    margin: 39px 60px 0 60px;
}

/*ПОЛЯ ВВОДА=============================================================*/
.form   {
    display: flex;
    flex-direction: column;
    text-align: center;

}

input[type=text], input[type=password], input[type=email] {
    width: 324px;
    height: 44px;
    left: 60px;
    top: 225px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    display: inline-block;
    background: #FFFFFF;
    margin: 7.5px;
}
input{outline: none}

input:focus{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.check  {
    width: 324px;
    margin: auto;
    text-align: left;
}
.check span{
    color: #434343;
}
.check a{color: #3CB878;}
.check a:hover{
    color: #01813F;
    text-decoration: underline;
}

label input[type=checkbox]{
    width: 20px;
    height: 20px;
    left: 62px;
    top: 460px;
    background-color: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
    margin: 0 8px 0 0;

}

.create_button{
    width: 324px;
    height: 46px;
    left: 60px;
    top: 517px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 16px;
    position: absolute;
}
.create_button:focus{
    background: #01813F;
}
