.dark {
    background-color: #003366;
    color: white;
}


.container {
    height: 1282px;
    width: 1480px;
    margin-left: auto;
    margin-right: auto;

}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}


.logo_color {
    color: dodgerblue;
}

.title_logo {
    font-size: 80px;
    line-height: 94px;
    display: flex;
    text-align: center;
    width: 334px;
    height: 79px;
    margin-top: 61px;

}

.a_logo {
    text-decoration: none;
    color: #35444F;
}

.title_list {
    height: 72px;
    margin-top: 117px;
    align-items: center;
    width: 1283px;
    background: #35444F;
    padding: 0px;
    text-align: center;
    margin-bottom: 0px;

}

.list {
    display: inline-block;
    font-size: 24px;
    line-height: 28px;
    padding: 22px 40px;
    border: 1px solid #FFFFFF;
    margin: auto -3px;
}

.a_link_1 {
    text-decoration: none;
    color: white;

}

.left_menu {
    width: 344px;
    height: 399px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #0C1927;
    margin-top: 50px;
    margin-bottom: 0px;
    padding: 0px;

}

.menu {
    font-size: 27px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #495863;
    margin: 44px 0px;
    width: 296px;

}

.a_link_2 {
    text-decoration: none;
    color: #495863;
    padding-left: 40px;
}

.image_box {
    width: 885px;
    height: 529px;
    border: 1px solid #000000;
    margin-top: 50px;
    margin-left: 396px;
    display: flex;
    position: absolute;
}


.image {
    margin: auto;
}



.text_1 {
    position: absolute;
    width: 885px;
    height: 120px;
    font-size: 18px;
    line-height: 24px;
    margin-left: 396px;
    margin-top: 616px;
}

.text_2 {
    position: absolute;
    font-size: 18px;
    line-height: 24px;
    width: 885px;
    height: 109px;
    margin-left: 396px;
    margin-top: 770px;
}

.bottom_menu_list {
    position: absolute;
    width: 1282px;
    height: 69px;
    background: rgba(99, 105, 110, 0.48);
    margin-top: 484px;
    padding: 0px;

}

.bottom_menu {
    display: inline-block;
    font-size: 24px;
    line-height: 28px;
    padding: 22px 20px;
}

.a_link_3 {
    text-decoration: none;
    color: #0C1927;
}

.copyright_text {
    text-decoration: none;
    color: #0C1927;
    margin-left: 82px;
}

.main_block {
    display: flex;
}
