body {
    background-image: url("Новая папка/b2e27689ba3886b5b2fa6c4b8e42dbd2.jpg");
    background-size: cover;
    overflow: hidden;
    color: yellow;
    text-align: center;
    font-size: 200%;
}

.container {
    display: flex;
    justify-content: center;
    transform: perspective(200px) rotateX(20deg);
    margin: auto;
    position: relative;
    height: 600px;
    width: 1080px;
}
.text {
    position: absolute;
    animation: animation 30s linear infinite;
    text-align: center;
}
@keyframes animation {
    0% {
        top: 100%;
    }
    100% {
        top: -100%;
    }
}
