.font {
    font-family: 'Roboto', sans-serif;
}

.style {
    text-decoration: none;
    color: #FFFFFF;
    text-align: right;
}

.style:hover {
    color: #F26522;
}

.container {
    width: 1130px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    padding-bottom: 26px;
}

.contacts {
    display: flex;
    flex-direction: column;
}

.contacts:hover {
    color: #F26522;
}

.background {
    background-image: url('Images/background 1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.header_logo {
    background: url("Images/logo 3.png");
    width: 53px;
    height: 47px;
    margin-bottom: 9px;
    margin-top: 11px;
}

.header_text{
    margin-left: 10px;
    margin-bottom: 0;
    padding: 0;

}

.header_logo:hover {
    background: url("Images/logo 2.png");
}

.nav_text {
    color: #FFFFFF;
    font-size: 18px;
    text-transform: uppercase;
    display: flex;
}

.nav_text:hover{
    color: #F26522;
}

.nav_text h1 {
    margin: 0;
}

.email {
    color: #FFFFFF;
    font-size: 18px;
    right: 0;
    margin-bottom: 19px;
}

.phone {
    color: #FFFFFF;
    font-size: 18px;
    right: 0;
    bottom: 0;
}

/*main------------------------------------------------------------------------*/

.block {
    position: relative;
    display: block;
}

.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.posts-item {
    margin: 0px 0 30px;
    position: relative;
    overflow: hidden;
}

.posts-item:hover .hover-block {
    bottom: 0;
    /* opacity: 1; */
}

.hover-block {
    display: flex;
    background-color: #F26522;
    transition: all 0.5s ease-in-out;
    width: 100%;
    height: 55px;
    bottom: -200px;
    position: absolute;
    color: #FFFFFF;

}

.hover-block span {
    margin-left: 16px;
    font-size: 10px;
    margin-top: 7px;
}

.hover-block h4 {
    margin-top: 29px;
    margin-bottom: 12px;
    position: absolute;
    margin-left: 16px;
    font-size: 20px;
}

.hover-text {
    position: relative;
    margin-left: 128px;
    margin-top: 29px;
}

.hover-text::after {
    position: absolute;
    content: '';
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.bottom-text {
    text-align: center;
    color: #FFFFFF;
}


.container_footer {
    color: #FFFFFF;
    font-size: 12px;
    line-height: 12px;
    height: 21px;
    left: 530px;
    top: 732px;
    display: flex;
    justify-content: center;
}